/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nanum+Gothic&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* colors */
:root {
  --primary: #bf7997;
  --primary_hover: rgb(173, 116, 141);
  --primary_darker: rgb(159, 107, 130);
  --light: #f4eded;
  --light_hover: #ffffff;
  --error: #e7195a;
}

body {
  box-sizing: border-box;
  background: #eaeaea;
  margin: 0;
  font-family: "Poppins";
}

.pages {
  margin: 0 auto;
}

.loading {
  font-weight: 600;
  text-align: center;
  margin: none;
  padding: none;
}

.loading-blog-page {
  font-weight: 600;
  text-align: center;
  margin-top: 50vh;
  padding: none;
}


/*temporary*/
.template {
  height: 100vh;
  background-color: rgb(39, 39, 39);
}



/* CAROUSEL */
.carousel {
  position: relative;
  height: 300vh;
  background-color: rgb(168, 168, 168);
}

.carousel-viewport {
  display: flex;
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: var(--light);
  overflow: hidden;
}

.carousel-content {
  margin-top: 25vh;
  display: flex;
  gap: 10px;
}

.carousel-title {
  margin-top: 5vh;
  display: flex;
  position: absolute;
  top: 8vh;
  left: 5vw;
}

.carousel-title div h1 {
  margin: 0 25px;
  font-size: 40px;
  font-weight: 400;
  font-family: "Noto Serif", sans-serif;
  color:rgb(45, 45, 45);
  cursor: pointer;
}

.carousel-title a {
  text-decoration: none;
}

.carousel-title div h1:hover {
  text-decoration: underline;
}

.carousel-title div p {
  margin: 0 25px;
}

.carousel-bottom-dash {
  position: absolute;
  bottom: 35px;
  left: 5vw;
  width:87vw;
  height: 2px;
  background-color: var(--primary);
}

.carousel-profile-pic {
  object-fit: cover;
  border-radius: 100%;
  height: 70px;
  width: 70px;
}

.carousel-profile-pic:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.carousel-controls {
  display: flex;
  position: absolute;
  top: 18vh;
  right: 5vw;
  align-items: center;
}

.carousel-controls button {
  background: var(--light);
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
  transition: background 0.2s ease-in-out;
}

.carousel-controls button:hover {
  background-color: var(--light_hover);
}

.add-new {
  flex: 3;
}

.carousel-controls p {
  color: var(--primary);
  font-weight: 600;
  border: 1.5px solid var(--primary);
  border-radius: 4px;
  padding: 2px 7px;
  margin: 0 15px 0 20px;
  text-align: center;
}

.no-blogs {
  margin: 10vh 50vw;
  width: 100%;
}

/*Title Size changes*/
@media (max-height: 670px) {
  .carousel-title {
    font-size: 50px;
  }
}

@media (max-height: 620px) {
  .carousel-title {
    font-size: 30px;
  }
}

@media (max-height: 560px) {
  .carousel-title {
    font-size: 0px;
  }
}




/* CARD */
.blog-card {
  position: relative;
  height: 450px;
  width: 380px;
  overflow: hidden;
  background-color: rgb(251, 251, 251);
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  margin: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.blog-card:hover {
  transform: scale(1.015);
}

.blog-image {
  width: 100%;
  max-height: 43%;
  margin-bottom: 10px;
  object-fit: cover;
}

.blog-title p {
  font-family: "Merriweather", serif;
  font-weight: 550;
  text-align: left;
  font-size: 25px;
  padding: 0 45px;
  color: rgb(35, 35, 35);
}

.blog-desc p {
  text-align: left;
  font-size: 17px;
  padding: 0 45px;
  color: rgb(35, 35, 35);
}

.blog-date p {
  position: absolute;
  bottom: 9px;
  text-align: left;
  font-size: 12px;
  padding: 0 45px;
  color: rgb(35, 35, 35);
}



/* NAVBAR */

.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 50px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background-color: var(--primary);
}

.navbar a:visited {
  color: var(--light);
}

.navbar a {
  text-decoration: none;
}

.navbar h4 {
  font-weight: 400;
  flex: 2;
  color: var(--light)
}

.navbar h2 {
  display: flex;
  color: var(--light);
  font-size: 30px;
  margin: 5px 0px 0px 50px;
  flex: 5;
  color: var(--light)
}

.navbar .nav-button {
  width: 250px;
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar .nav-button button {
  height: 50px;
  background: var(--light);
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
  transition: background 0.2s ease-in-out;
}

.navbar .nav-button button:hover {
  background: var(--light_hover);
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar .logged-in {
  display: flex;
}

.navbar .logged-out {
  display: flex;
  gap: 50px;
  padding: 10px 90px;
  color: var(--light);
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s ease-in-out;
}

.logged-out a:visited {
  color: white;
  text-decoration: none;
}




/* BLOG FORM */

.blog-container {
  position: fixed;
  z-index: 100;
  height: 100vw;
  width: 100vw;
  background-color: #0000005f;
}

.post-blog-form {
  position: fixed;
  z-index: 15;
  left: 17.5vw;
  top: 10vh;
  width: 65vw;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 20px 30px;
}

.post-blog-form  h3 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 0px;
}

.post-blog-form  label {
  text-align: right;
}

.post-blog-form  div {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 16px;
  margin-bottom: 15px;
}

.post-blog-form input {
  width: 98%;
  padding: 5px;
  font-family: 'Poppins';
}

.post-blog-form  textarea {
  resize: none;
  font-family: 'Poppins';
  padding: 5px;
}

.post-blog-form button {
  background: var(--primary);
  border: 0;
  color: var(--light);
  padding: 8px;
  font-family: "Poppins";
  font-size: 17px;
  border-radius: 4px;
  cursor: pointer;
}

.post-blog-form button:hover {
  background: var(--primary_hover);
}

.blogControls {
  display: flex;
  align-items: center;
  justify-content: left;
}

.close-form {
  position: absolute;
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 3px;
  right: 3%;
  height: 39px;
  background: rgb(255, 255, 255) !important;
  border: 2px solid var(--primary) !important;
  color: var(--primary) !important;
}

.close-form:hover {
  background: rgb(244, 244, 244) !important;
}

input[type="file"] {
  display: none;
}

.custom-upload-btn {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 4px;
  line-height: 1; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

.custom-upload-btn:hover {
  background-color: var(--primary_darker);
}

.file-label {
  margin-left: 10px;
}

.blog-post-error {
  color: var(--error);
  text-align: center;
}





/*BLOG PAGE*/

pre {
  white-space: pre-wrap;
  font-family: 'Poppins';
}

.blog-page {
  display: flex;
  flex-direction: column;
  padding: 70px 20px;
  align-items: center;
}

.blog-page h1 {
  max-width: 80vw;
  text-align: center;
  font-weight: 600;
  font-size: 3.5em;
  margin: 35px 0 0 0;
}

.blog-page h4 {
  max-width: 80vw;
  font-weight: 500;
  font-style: italic;
  font-size: 1.1em;
  margin-top: 15px;
}

.blog-page p {
  white-space: pre-wrap;
  font-family: 'Poppins';
  text-align: left;
  max-width: 60vw;
  
}

.blog-page img {
  max-width: 60vw;
  max-height: 60vh;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.114);
}

.blog-page .delete {
  display: flex;
  align-items: center;
  height:55px;
  margin: 20px 0px 10px 83vw;
  padding: 20px 0px;
  font-weight: bold;
  font-size: 18px;
  color: var(--light);
  background-color: var(--primary);
  border: solid 3px var(--light);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.blog-page .blog-controllers div a {
  display: flex;
  align-items: center;
  padding: 15px 20px
}

.blog-page .blog-controllers div a:visited {
  color: var(--light);
}

.blog-page .edit {
  display: flex;
  align-items: center;
  height:55px;
  padding: 15px 18px;
  font-weight: bold;
  font-size: 18px;
  color: var(--light);
  background-color: var(--primary);
  border: solid 3px var(--light);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}


.blog-page button:hover {
  background-color: var(--primary_darker);
}

.blog-controllers {
  display: flex;
  align-items: center;
}






/*LOGIN AND SIGNUP*/
form.signup, form.login {
  max-width: 400px;
  height: 450px;
  margin: 20vh auto 0 auto;
  padding: 30px;
  background: var( --primary);
  color: var(--light_hover);
  border-radius: 4px;
}

form.signup {
  height: 500px;
  margin: 15vh auto 0 auto;
}

form.login h3, form.signup h3 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 50px;
}

form.signup h3 {
  margin-bottom: 10px;
}

.login-button, .signup-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form.login button, form.signup button {
  margin-top: 10px;
  height: 40px;
  padding: 10px 20px;
  width: 100px;
  font-weight: bold;
  color: var(--primary);
  background-color: var(--light);
  border: solid 3px var(--primary);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

form.login button:hover, form.signup button:hover {
  background-color: var(--light_hover);
}

form.login div, form.signup div {
  margin-bottom: 30px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

form.login label, form.signup label {
  font-weight: 600;
  margin-bottom: 5px;
}

form.login input, form.signup input {
  padding: 9px;
  border-radius: 5px;
  background-color: var(--light);
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.256);
}

form.login p, form.signup p {
  text-align: center;
}




/*ACCOUNT PAGE*/
.account-page {
  margin: 14vh auto;
  width: 40%;
  padding: 30px 35px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--light_hover);
  border-radius: 15px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.186);
}

.account-page img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.account-page h1 {
  text-align: center;
  font-weight: 500;
  font-size: 3.3em;
  font-family: 'Noto Serif', serif;
  margin-top: 8px;
  margin-bottom: 0px;
}

.account-page h2 {
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  font-family: 'Noto Serif', serif;
  margin-top: 8px;
  margin-bottom: 0px;
}

.account-page h3 {
  text-align: center;
  font-weight: 600;
  font-size: 1em;
  font-family: 'Noto Serif', serif;
  margin-top: 8px;
  margin-bottom: 0px;
}

.account-page label {
  text-align: center;
  margin-bottom: 7px;
  font-size: .8em;
  color: var(--primary)
}

.account-page .account-controllers {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.account-page .account-controllers button {
  width: 200px;
  padding: 10px;
  background-color: var(--light_hover);
  color: var(--primary);
  border: solid 3px var(--primary);
  border-radius: 9px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.account-page .account-controllers button:hover {
  background-color: var(--light);
}






/*ACCOUNT UPDATE*/
.update-container {
  position: fixed;
  z-index: 100;
  height: 100vw;
  width: 100vw;
  background-color: #0000005f;
  margin-top: -10%;
}

.update-account-form {
  position: fixed;
  z-index: 15;
  left: 18.5vw;
  top: 20vh;
  width: 55vw;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 20px 30px;
}

.update-account-form  h3 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 0px;
}

.update-account-form  label {
  text-align: right;
}

.update-account-form  div {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 16px;
  margin-bottom: 15px;
}

.update-account-form input {
  width: 98%;
  padding: 5px;
  font-family: 'Poppins';
}

.update-account-form button {
  background: var(--primary);
  border: 0;
  color: var(--light);
  padding: 8px;
  font-family: "Poppins";
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.update-account-form button:hover {
  background: var(--primary_hover);
}

.update-account-form p {
  text-align: center;
  font-style: italic;
  font-size: .8em;
  color: var(--primary);
}